:root{
  --light-color: #ECECEC;
  --dark-color: #262626;
  --accent-color-pink: #FFADD5;
  --accent-color-yellow: #FFF4AD;
  --accent-color-blue: #94D9F0;
  --main-font: 'Playpen Sans', cursive;
  --box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  --box-shadow-light: 0px 8px 16px -1px rgba(0, 0, 0,0.18);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark-color);
  font-family: var(--main-font);
}
ul{
  list-style-type: none;
  font-size: 24px;
  padding-left: 20px;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
}
.main-wrapper{
  margin: 0 auto;
  background-color: var(--accent-color-blue);
  width: 500px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15px;
}
.top-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.input{
  display: block;
  font-size: 24px;
  color: var(--dark-color);
  background: var(--light-color);
  box-shadow: var(--box-shadow);
  border: var(--accent-color-bright) 1px solid;
  border-radius: 50px;
  block-size: 20px;
  margin: 7px auto;
  padding: 20px 15px;
  outline: none;
  text-align: center;
  width: 300px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  caret-color: var(--accent-color-pink);
}
.input:hover {
  width: 320px;
}

.input:focus {
  width: 340px;
}
.add-button{
  cursor: pointer;
  border: none;
  background-color: var(--light-color);
  box-shadow: var(--box-shadow);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  transition: 0.3s ease-in-out;
}
.add-button:hover{
  box-shadow: var(--box-shadow-light);
  transform: scale(1.1);
}
.bottom-wrapper{
  background-color: var(--accent-color-pink);
  border-radius: 30px;
  width: 355px;
  display: flex;
  flex-direction: row;
  padding: 15px;
}
ul li::before{
  content: '\2605';
  color: var(--accent-color-yellow);
  font-size: 24px;
  margin-right: 10px;
}